/* This css file will format the web pages that assignments need if they have a table with a link to an example and possible a skeleton */
/*mr Hanley 8/13/2021 */
.assignformat mainformat{
   background-color: rgb(0, 0, 0);
    font-family: "Merriweather","Roboto", sans-serif;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
}
